@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="range"]:focus {
  accent-color: rgb(255, 126, 148);
} */

input[type="number"] {
  padding-inline: 8px;
  padding-block: 4px;
  border-radius: 8px;
  width: 5rem;
}

